# Getting Bulk SEC Archive of Annual and Quarterly Financial Reports 

Date: 2021-01-20  
Author: Jason Beach  
Categories: Data_Science 
Tags: nlp, spacy, finance

<!--eofm-->

In this post we investigate information within the most import SEC filings (10K, 10Q, 8K).  We will perform a review of the data and ensure we can validate the numbers.  Then, we can look into unstructured data to determine if we can: i) convert it into a useful structure, ii) we have appropriate contextual information for the newly structured data to be mapped to the document.  If this structured data seems valuable, then it can be compared against other data to discover predictive relationships.

## Data Source

The data is obtained from the SEC [web page](https://www.sec.gov/dera/data/financial-statement-and-notes-data-set.html).  These files are flattened from their original XBRL format.  The data extracted from the XBRL submissions is organized into eight data sets containing information about submissions, numbers, taxonomy tags, presentation, and more.  Each data set consists of rows and fields, and is provided as a tab-delimited TXT format file.  The data sets are as follows (non-meta data is in bold font):

* __SUB__ – Submission data set; this includes one record for each XBRL submission. The set includes fields of information pertinent to the submission and the filing entity. Information is extracted from the Commission's EDGAR system and the filings submitted to the Commission by registrants.
* TAG – Tag data set; includes defining information about each tag.  Information includes tag descriptions (documentation labels), taxonomy version information and other tag attributes.
* DIM – Dimension data set; used to provide more detail in numeric and non-numeric facts.
* __NUM__ – Number data set; this includes one row for each distinct amount from each submission included in the SUB data set. The Number data set includes, for every submission, all line item values as rendered by the Commission Viewer/Previewer.
* __TXT__ – Text data set; this is the plain text of all the non-numeric tagged items in the submission.
* REN – Rendering data set; this contains data from the rendering of the filing on the Commission website.
* PRE – Presentation data set; this provides information about how the tags and numbers were presented in the primary financial statements.
* CAL – Calculation data set; provides information to arithmetically relate tags in a filing.

The forms we are interested include:

* 10K - report filed annually by a publicly-traded company about its financial performance
* 10Q - unaudited report (3 times a year) of company's performance and includes relevant information about its financial position
* 8K - required by the SEC whenever companies announce major events, may include sales, acquisitions, delistings, departures, and elections of executives, as well as changes in a company's status or control, bankruptcies, information about operations, assets, and any other relevant news

Steps

* search EDGAR for specific firm: https://www.sec.gov/edgar/searchedgar/companysearch.html
* manually compare against documents

In [1]:
! ls large_dataset/2021_12_notes/

cal.tsv  notes-metadata.json  pre.tsv	  ren.tsv  tag.tsv
dim.tsv  num.tsv	      readme.htm  sub.tsv  txt.tsv

In [2]:
! head large_dataset/2021_12_notes/cal.tsv

adsh	grp	arc	negative	ptag	pversion	ctag	cversion
0001654954-21-013551	3	1	1	NetCashProvidedByUsedInOperatingActivities	us-gaap/2020	NetIncomeLoss	us-gaap/2020
0001477932-21-009337	2	3	1	NetCashProvidedByUsedInOperatingActivities	us-gaap/2020	NetIncomeLoss	us-gaap/2020
0001589526-21-000140	13	2	1	NetCashProvidedByUsedInOperatingActivities	us-gaap/2020	NetIncomeLoss	us-gaap/2020
0000950170-21-005014	2	2	1	NetCashProvidedByUsedInOperatingActivities	us-gaap/2020	NetIncomeLoss	us-gaap/2020
0001589526-21-000140	6	2	-1	OtherComprehensiveIncomeLossPensionAndOtherPostretirementBenefitPlansAdjustmentBeforeTax	us-gaap/2020	NetIncomeLoss	us-gaap/2020
0001558370-21-016630	19	1	1	ComprehensiveIncomeNetOfTax	us-gaap/2020	NetIncomeLoss	us-gaap/2020
0000950170-21-005014	25	1	1	ComprehensiveIncomeNetOfTax	us-gaap/2020	NetIncomeLoss	us-gaap/2020
0000074046-21-000108	5	4	1	ComprehensiveIncomeNetOfTax	us-gaap/2020	NetIncomeLoss	us-gaap/2020
0001589526-21-000140	24	1	1	ComprehensiveIncomeNetOfTax	us-gaap/2020	NetIncomeLoss	us-gaap/2020

### Setup

In [1]:
import pandas as pd
import numpy as np

In [2]:
def read_table(file_path, display_cols=False):
    df = pd.read_csv(file_path, sep='\t', low_memory=False)
    print(f'Data size: {df.shape}')
    if display_cols: print(f'Data columns: {df.columns}')
    
    if 'form' in df.columns:
        forms = ['10-K','10-Q','8-K']
        df_tmp = df
        df_tmp = df_tmp[df_tmp['form'].isin(forms)]
        print(f"Size of submission of interest (10K,10Q,8K): {df_tmp.shape[0]}")
    return df

### Data ETL

In [98]:
file_path = 'large_dataset/2021_12_notes/sub.tsv'
df_sub = read_table(file_path, display_cols=True)

Data size: (5689, 40)
Data columns: Index(['adsh', 'cik', 'name', 'sic', 'countryba', 'stprba', 'cityba', 'zipba',
       'bas1', 'bas2', 'baph', 'countryma', 'stprma', 'cityma', 'zipma',
       'mas1', 'mas2', 'countryinc', 'stprinc', 'ein', 'former', 'changed',
       'afs', 'wksi', 'fye', 'form', 'period', 'fy', 'fp', 'filed', 'accepted',
       'prevrpt', 'detail', 'instance', 'nciks', 'aciks', 'pubfloatusd',
       'floatdate', 'floataxis', 'floatmems'],
      dtype='object')
Size of submission of interest (10K,10Q,8K): 5089

In [99]:
file_path = 'large_dataset/2021_12_notes/num.tsv'
df_num = read_table(file_path, display_cols=True)

Data size: (780139, 16)
Data columns: Index(['adsh', 'tag', 'version', 'ddate', 'qtrs', 'uom', 'dimh', 'iprx',
       'value', 'footnote', 'footlen', 'dimn', 'coreg', 'durp', 'datp',
       'dcml'],
      dtype='object')

In [100]:
file_path = 'large_dataset/2021_12_notes/txt.tsv'
df_txt = read_table(file_path, display_cols=True)

Data size: (216344, 20)
Data columns: Index(['adsh', 'tag', 'version', 'ddate', 'qtrs', 'iprx', 'lang', 'dcml',
       'durp', 'datp', 'dimh', 'dimn', 'coreg', 'escaped', 'srclen', 'txtlen',
       'footnote', 'footlen', 'context', 'value'],
      dtype='object')

## Basic Review

Submissions

In [45]:
df_sub[['adsh','name', 'countryma', 'stprma', 'cityma', 'countryinc', 'ein', 'former', 'changed']].head()
df_sub[['adsh', 'afs', 'wksi', 'fye', 'form', 'period', 'fy', 'fp', 'filed', 'accepted']].head()
df_sub[['adsh', 'prevrpt', 'detail', 'instance', 'nciks', 'aciks', 'pubfloatusd', 'floatdate', 'floataxis', 'floatmems']].head()

,adsh,prevrpt,detail,instance,nciks,aciks,pubfloatusd,floatdate,floataxis,floatmems
0,0001096906-21-002921,0,0,byoc-20211201_htm.xml,1,NaN,NaN,NaN,NaN,NaN
1,0001104659-21-145567,0,0,tm2132359d2_8k_htm.xml,1,NaN,NaN,NaN,NaN,NaN
2,0001104659-21-145577,0,1,pixy-20210531.xml,1,NaN,NaN,NaN,NaN,NaN
3,0001104659-21-145626,0,0,tm2134286d1_8k_htm.xml,1,NaN,NaN,NaN,NaN,NaN
4,0001104659-21-145637,0,0,tm2134057d1_8k_htm.xml,1,NaN,NaN,NaN,NaN,NaN

In [64]:
pd.crosstab(df_tmp['name'], df_tmp['form'], rownames=['name'], colnames=['form'])

Size of submission of interest: 5089

form                      10-K  10-Q  8-K
name
1 800 FLOWERS COM INC        0     0    1
180 LIFE SCIENCES CORP.      0     0    4
1847 GOEDEKER INC.           0     0    2
1ST CONSTITUTION BANCORP     0     0    2
22ND CENTURY GROUP, INC.     0     0    1
...                        ...   ...  ...
ZSCALER, INC.                0     1    0
ZUMIEZ INC                   0     1    2
ZUORA INC                    0     1    1
ZYMEWORKS INC.               0     0    3
ZYNEX INC                    0     0    2

[3138 rows x 3 columns]

Number: all line item values from each dataset

In [52]:
df_num[['adsh', 'tag', 'version', 'ddate', 'qtrs', 'uom', 'dimh', 'iprx']].head()
df_num[['value', 'footnote', 'footlen', 'dimn', 'coreg', 'durp', 'datp','dcml']].head()

,adsh,tag,version,ddate,qtrs,uom,dimh,iprx
0,0001062993-21-011894,WeightedAverageExercisePriceOfShareOptionsOuts...,ifrs/2020,20191231,0,CAD,0x833c5d9b45ae0f823524a9499bd2029b,0
1,0001062993-21-011894,EachSharePurchaseWarrantAssessedValue,0001062993-21-011894,20171231,0,CAD,0xb36e98a1603d71c9130dc58a98eb1359,0
2,0001193125-21-344339,ProfitLossAttributableToOwnersOfParent,ifrs/2020,20201031,4,CAD,0x00000000,0
3,0001193125-21-344339,NotionalAmount,ifrs/2020,20211031,0,CAD,0x330691fdeafe2e135ffc8330e5171705,0
4,0001193125-21-344339,IncreaseDecreaseThroughNetExchangeDifferencesP...,ifrs/2020,20201031,4,CAD,0x99090c3ff88704202dc8610a2a65a5a0,0

Text: plain text of all non-numeric items in the dataset.  This includes tables and other unstructured data.

In [56]:
df_txt[['adsh', 'tag', 'version', 'ddate', 'qtrs', 'iprx', 'lang', 'dcml']].head()
df_txt[['durp', 'datp', 'dimh', 'dimn', 'coreg', 'escaped', 'srclen', 'txtlen','footnote', 'footlen', 'context', 'value']].head()

,durp,datp,dimh,dimn,coreg,escaped,srclen,txtlen,footnote,footlen,context,value
0,0.019179,0.0,0x00000000,0,NaN,1,14355,10701,NaN,0,Duration_1_1_2021_To_9_30_2021_RwCPA6c1GkyrMOE...,"1. Organization, Business Operations. Incorpor..."
1,0.019179,0.0,0x00000000,0,NaN,1,12319,9175,NaN,0,Duration_1_1_2021_To_9_30_2021_-D0OjqPQ9UywHQZ...,1. NATURE OF BUSINESS AND BASIS OF PRESENTATIO...
2,0.482192,0.0,0x00000000,0,NaN,1,17429,14660,NaN,0,Duration_2_14_2020_To_12_31_2020_1uTU7qmFN0u03...,NOTE 1. DESCRIPTION OF ORGANIZATION AND BUSINE...
3,0.019179,0.0,0x00000000,0,NaN,1,18120,14832,NaN,0,Duration_1_1_2021_To_9_30_2021_J8h0TwBpskSZgk7...,NOTE 1. DESCRIPTION OF ORGANIZATION AND BUSINE...
4,0.000000,0.0,0x00000000,0,NaN,1,16072,11749,NaN,0,Duration_1_1_2020_To_12_31_2020_yzcIljh5FkytHG...,"Note 1 Organization, Business Operations and ..."

## Data Validation

Let's validate we know what we are looking at.

* `adsh` - unique primary key, 20-char Accession Number automatically assigned when submission is accepted by EDGAR; format: `<entity_CIK>-<YR>-<CIK_sequence_num>`
  - `entity_CIK` company or a third-party filer agent; may have no searchable presence in public EDGAR database
  - `YR` year
  - `sequence_num` of the submitted filings from that CIK

There are 3,321 unique names making submissions during this month, but only 128 unique CIK.  However, CIK derived from ADSH appers to be different.  

TODO:

* is this because most CIK is a limited number of 3rd-party preparers?
* why is CIK from ADSH different?

In [13]:
print(f"Count of names: {df_sub['name'].unique().shape}")

Count of names: (3321,)

In [14]:
print(f"Count of names: {df_sub['cik'].unique().shape}")

Count of names: (3297,)

In [25]:
df_sub[['id_cik','id_yr','id_seq_num']] = df_sub['adsh'].str.split('-', None, expand=True)

In [26]:
df_sub['id_cik'].unique().shape

(923,)

Still unique CIK differ

In [20]:
df_txt[['id_cik','id_yr','id_seq_num']] = df_txt['adsh'].str.split('-', None, expand=True)

In [23]:
#df_txt['id_cik'].value_counts()
print(f"Unique CIK from ADSH within txt: {df_txt['id_cik'].unique().shape }")

Unique CIK from ADSH within txt: (923,)

In [ ]:
The year

In [28]:
df_txt['yr'].value_counts()

21    216344
Name: yr, dtype: int64

In [10]:
df_txt['qtrs'].value_counts()

0     122934
3      36587
4      34554
2      13163
1       9072
5         26
8          3
12         2
9          1
15         1
60         1
Name: qtrs, dtype: int64

## Review

There are only a small percentage of footnotes.

In [68]:
footnotes = df_num['footnote'].dropna()
footnotes.shape

(1427,)

In [42]:
footnotes.iloc[0]

'Represents unallocated items. In the three-month periods ended October 31, 2021, and November 1, 2020, there were pension actuarial losses of $6 and pension actuarial gains of $4, respectively. Costs related to the cost savings initiatives were $4 and $5 in the three-month periods ended October 31, 2021, and November 1, 2020, respectively. Unrealized mark-to-market adjustments on outstanding undesignated commodity hedges were losses of $3 and gains of $6 in the three-month periods ended October 31, 2021, an'

In [58]:
df_txt['footnote'].dropna().shape

(66,)

In [67]:
df_txt['value'].iloc[2]

'NOTE 1. DESCRIPTION OF ORGANIZATION AND BUSINESS OPERATIONS Capstar Special Purpose Acquisition Corp. (the Company) was incorporated in Delaware on February 14, 2020. The Company was formed for the purpose of effecting a merger, capital stock exchange, asset acquisition, stock purchase, reorganization or similar business combination with one or more businesses (the Business Combination). Although the Company is not limited to a particular industry or geographic region for purposes of consummating a Business Combination, the Company intends to focus on businesses in the consumer, healthcare and technology, media and telecommunications (TMT) industries. The Company is an early stage and emerging growth company and, as such, the Company is subject to all of the risks associated with early stage and emerging growth companies. As of December 31, 2020, the Company had not commenced any operations. All activity for the period from February 14, 2020 (inception) through December 31, 2020 relates to the Companys formation, its initial public offering (Initial Public Offering), which is described below, and the search for a target company for a Business Combination. The Company will not generate any operating revenues until after the completion of its initial Business Combination, at the earliest. The Company will generate non-operating income in the form of interest income from the proceeds derived from the Initial Public Offering. The registration statement for the Companys Initial Public Offering was declared effective on July 1, 2020. On July 7, 2020, the Company consummated the Initial Public Offering of 27,600,000 units (the Units and, with respect to the shares of Class A common stock included in the Units sold, the Public Shares), which includes the full exercise by the underwriters of the over-allotment option to purchase an additional 3,600,000 Units, at $10.00 per Unit, generating gross proceeds of $276,000,000, which is described in Note 4. Simultaneously with the closing of the Initial Public Offering, the Company consummated the sale of 7,520,000 warrants (each, a Private Placement Warrant and, collectively, the Private Placement Warrants) at a price of $1.00 per Private Placement Warrant in a private placement to Capstar Sponsor Group, LLC (the Sponsor), generating gross proceeds of $7,520,000, which is described in Note 5. Transaction costs amounted to $15,851,828, consisting of $5,520,000 of underwriting fees, $9,660,000 of deferred underwriting fees and $671,828 of other offering costs. Following the closing of the Initial Public Offering on July 7, 2020, an amount of $276,000,000 ($10.00 per Unit) from the net proceeds of the sale of the Units in the Initial Public Offering and the sale of the Private Placement Warrants was placed in a trust account (the Trust Account). The proceeds are held in the Trust Account located in the United States and shall be invested only in U.S. government securities, within the meaning set forth in Section 2(a)(16) of the Investment Company Act of 1940, as amended (the Investment Company Act), with a maturity of 185 days or less or in any open-ended investment company that holds itself out as a money market fund selected by the Company meeting the conditions of Rule 2a-7 of the Investment Company Act, as determined by the Company, until the earlier of: (i) the completion of a Business Combination or (ii) the distribution of the funds in the Trust Account, as described below. The Companys management has broad discretion with respect to the specific application of the net proceeds of the Initial Public Offering and the sale of the Private Placement Warrants, although substantially all of the net proceeds are intended to be applied generally toward consummating a Business Combination. There is no assurance that the Company will be able to complete a Business Combination successfully. The Companys initial Business Combination must be with one or more target businesses that together have a fair market value equal to at least 80% of the balance in the Trust Account (excluding taxes payable on interest income earned from the Trust Account and the deferred underwriting commissions) at the time of the agreement to enter into the initial Business Combination. The Company will only complete a Business Combination if the post-transaction company owns or acquires 50% or more of the outstanding voting securities of the target or otherwise acquires a controlling interest in the target sufficient for it not to be required to register as an investment company under the Investment Company Act. The Company will provide its holders of the outstanding Public Shares (the public stockholders) with the opportunity to redeem all or a portion of their Public Shares upon the completion of a Business Combination either (i) in connection with a stockholder meeting called to approve the Business Combination or (ii) by means of a tender offer. The decision as to whether the Company will seek stockholder approval of a Business Combination or conduct a tender offer will be made by the Company, solely in its discretion. The public stockholders will be entitled to redeem their Public Shares for a pro rata portion of the amount then in the Trust Account (initially $10.00 per Public Share, plus any pro rata interest earned on the funds held in the Trust Account and not previously released to the Company to pay its tax obligations). The per-share amount to be distributed to public stockholders who redeem their Public Shares will not be reduced by the deferred underwriting commissions the Company will pay to the underwriters (as discussed in Note 7). There will be no redemption rights upon the completion of a Business Combination with respect to the Companys warrants. The Company will proceed with a Business Combination if the Company has net tangible assets of at least $5,000,001 upon such consummation of a Business Combination and, if the Company seeks stockholder approval, a majority of the shares voted are voted in favor of the Business Combination. If a stockholder vote is not required by law or stock exchange requirements and the Company does not decide to hold a stockholder vote for business or other legal reasons, the Company will, pursuant to its Amended and Restated Certificate of Incorporation (the Amended and Restated Certificate of Incorporation), conduct the redemptions pursuant to the tender offer rules of the U.S. Securities and Exchange Commission (SEC) and file tender offer documents with the SEC prior to completing a Business Combination. If, however, stockholder approval of the transaction is required by law, or the Company decides to obtain stockholder approval for business or legal reasons, the Company will offer to redeem shares in conjunction with a proxy solicitation pursuant to the proxy rules and not pursuant to the tender offer rules. If the Company seeks stockholder approval in connection with a Business Combination, the Companys Sponsor has agreed to vote its Founder Shares (as defined in Note 6) and any Public Shares purchased during or after the Initial Public Offering in favor of approving a Business Combination. Additionally, each public stockholder may elect to redeem their Public Shares irrespective of whether they vote for or against the proposed transaction. Notwithstanding the above, if the Company seeks stockholder approval of a Business Combination and it does not conduct redemptions pursuant to the tender offer rules, the Amended and Restated Certificate of Incorporation provides that a public stockholder, together with any affiliate of such stockholder or any other person with whom such stockholder is acting in concert or as a group (as defined under Section 13 of the Securities Exchange Act of 1934, as amended (the Exchange Act)), will be restricted from redeeming its shares with respect to more than an aggregate of 15% or more of the Public Shares, without the prior consent of the Company. The Sponsor has agreed (i) to waive its redemption rights with respect to its Founder Shares and Public Shares held by it in connection with the completion of a Business Combination and (ii) not to propose an amendment to the Companys Amended and Restated Certificate of Incorporation that would affect the substance or timing of the Companys obligation to redeem 100% of its Public Shares if the Company does not complete a Business Combination, unless the Company provides the public stockholders with the opportunity to redeem their shares in conjunction with any such amendment. The Company will have until July 7, 2022 to consummate a Business Combination (the Combination Period). If the Company is unable to complete a Business Combination within the Combination Period, the Company will (i) cease all operations except for the purpose of winding up, (ii) as promptly as reasonably possible but not more than ten business days thereafter, redeem the Public Shares, at a per-share price, payable in cash, equal to the aggregate amount then on deposit in the Trust Account including interest earned on the funds held in the Trust Account and not previously released to the Company to pay taxes (less up to $100,000 to pay dissolution expenses), divided by the number of then outstanding Public Shares, which redemption will completely extinguish public stockholders rights as stockholders (including the right to receive further liquidating distributions, if any), subject to applicable law, and (iii) as promptly as reasonably possible following such redemption, subject to the approval of the Companys remaining stockholders and the Companys board of directors, dissolve and liquidate, subject in each case to the Companys obligations under Delaware law to provide for claims of creditors and the requirements of other applicable law. There will be no redemption rights or liquidating distributions with respect to the Companys warrants, which will expire worthless if the Company fails to complete a Business Combination within the Combination Period. The Sponsor has agreed to waive its right to liquidating distributions from the Trust Account with respect to the Founder Shares if the Company fails to complete a Business Combination within the Combination Period. However, if the Sponsor acquires Public Shares in or after the Initial Public Offering, such Public Shares will be entitled to liquidating distributions from the Trust Account if the Company fails to complete a Business Combination within the Combination Period. The underwriters have agreed to waive their rights to their deferred underwriting commission (see Note 7) held in the Trust Account in the event the Company does not complete a Business Combination within the Combination Period and, in such event, such amounts will be included with the other funds held in the Trust Account that will be available to fund the redemption of the Public Shares. In the event of such distribution, it is possible that the per share value of the assets remaining available for distribution will be less than the Initial Public Offering price per Unit ($10.00). In order to protect the amounts held in the Trust Account, the Sponsor has agreed to be liable to the Company if and to the extent any claims by a third party for services rendered or products sold to the Company, or a prospective target business with which the Company has entered into a written letter of intent, confidentiality or similar agreement, reduce the amount of funds in the Trust Account to below the lesser of (i) $10.00 per Public Share and (ii) the actual amount per Public Share held in the Trust Account as of the liquidation of the Trust Account, if less than $10.00 per Public Share due to reductions in the value of the trust assets, less taxes payable, provided that such liability will not apply to any claims by a third party or prospective target business who executed a waiver of any and all rights to the monies held in the Trust Account nor will it apply to any claims under the Companys indemnity of the underwriters of the Initial Public Offering against certain liabilities, including liabilities under the Securities Act of 1933, as amended (the Securities Act). Moreover, in the event that an executed waiver is deemed to be unenforceable against a third party, the Sponsor will not be responsible to the extent of any liability for such third-party claims. The Company will seek to reduce the possibility that the Sponsor will have to indemnify the Trust Account due to claims of creditors by endeavoring to have all vendors, service providers (except for the Companys auditors), prospective target businesses or other entities with which the Company does business, execute agreements with the Company waiving any right, title, interest or claim of any kind in or to monies held in the Trust Account. Risks and Uncertainties Management continues to evaluate the impact of the COVID-19 pandemic and has concluded that while it is reasonably possible that the virus could have a negative effect on the Companys financial position, results of its operations and/or search for a target company, the specific impact is not readily determinable as of the date of these financial statements. The financial statements do not include any adjustments that might result from the outcome of this uncertainty. Liquidity and Managements Plan As of December 31, 2020, the Company had $491,827 in its operating bank accounts, $276,209,453 in securities held in the Trust Account to be used for a Business Combination or to repurchase or redeem its common stock in connection therewith and working capital deficit of $897,026, which excludes $176,006 of franchise taxes payable. As of December 31, 2020, approximately $209,000 of the amount on deposit in the Trust Account represented interest income, which is available to pay the Companys tax obligations. As of December 31, 2020, the Company lacked the liquidity it needed to sustain operations for a reasonable period of time, which is considered to be one year from the issuance date of the financial statements and had substantial doubt over its ability to continue as a going concern. On March 3, 2021 (see Note 12), the Sponsor committed to provide the Company an aggregate of $1,500,000 in loans for working capital purposes. Accordingly, management has since reevaluated the Companys liquidity and financial condition and determined that sufficient capital exists to sustain operations for at least one year from the issuance date of these financial statements and therefore substantial doubt has been alleviated.'

## Manual Review: Wells Fargo

We will search for two .pdf documents from WFC: 10K, 8K.  Then we will look for specific data within these files to map it to the documents.

### Find the documents

In [3]:
! ls large_dataset/

2020q1_notes  2020q1_notes.zip	2020q2_notes  2020q2_notes.zip	2021_12_notes

In [4]:
file_path = 'large_dataset/2020q1_notes/sub.tsv'
df_sub2020q1 = read_table(file_path)

Data size: (13561, 40)
Size of submission of interest (10K,10Q,8K): 12714

In [5]:
file_path = 'large_dataset/2020q2_notes/sub.tsv'
df_sub2020q2 = read_table(file_path)

Data size: (16411, 40)
Size of submission of interest (10K,10Q,8K): 15369

In [6]:
df_sub = pd.concat([df_sub2020q2, df_sub2020q1])

In [7]:
df_sub.shape

(29972, 40)

In [8]:
df_wfc = df_sub[df_sub['name'].str.contains('FARGO')]

In [12]:
df_10k = df_wfc[df_wfc['form'].isin(['10-K'])]
df_10k['adsh'].values[0]

'0000072971-20-000217'

In [13]:
df_8k = df_wfc[df_wfc['instance'].str.contains('0414')]
df_8k['adsh'].values[0]

'0001387131-20-003874'

In [11]:
df_sub2020q1[df_sub2020q1['adsh'].str.contains(df_10k['adsh'].values[0])].shape
df_sub2020q2[df_sub2020q2['adsh'].str.contains(df_8k['adsh'].values[0])].shape

(1, 40)

### Find associated records

In [5]:
! sqlite3 --version

3.37.0 2021-11-27 14:13:22 bd41822c7424d393a30e92ff6cb254d25c26769889c1499a18a0b9339f5d6c8a

Data is too big!

```
file_path = 'large_dataset/2020q1_notes/num.tsv'
df_tmp = read_table(file_path)
df_num = df_tmp[df_tmp['adsh'].str.contains('0000072971-20-000217')]
```

From the commandline:

```bash
sqlite3 sec.db

sqlite> .mode tabs
sqlite> .import 2020q1_notes/num.tsv num
sqlite> .tables

sqlite> .headers on
sqlite> .mode column
sqlite> SELECT * FROM num LIMIT 3;
```

and 

```bash
sqlite> .mode tabs
sqlite> .import 2020q1_notes/txt.tsv txt
sqlite> .tables

sqlite> .headers on
sqlite> .mode column
sqlite> SELECT * FROM txt LIMIT 3;
```

In [37]:
! ls -alh 2020q1_notes/ | head -n4

total 3.4G
drwx------ 12 root   root   384 Jan 26 15:26 .
drwxr-xr-x 10 jovyan users  320 Jan 26 18:33 ..
-rw-r--r--  1 jovyan users  65K Dec 13  2020 2020q1_notes-metadata.json

In [18]:
#check the results of the load
! head -n3 large_dataset/2020q1_notes/num.tsv

adsh	tag	version	ddate	qtrs	uom	dimh	iprx	value	footnote	footlen	dimn	coreg	durp	datp	dcml
0000014195-20-000008	DerivativeNonmonetaryNotionalAmount	invest/2013	20191231	0	Btu	0xd510cbd5aa429b08bfe3fe1c1a52fc18	0	4074000.0000		0	1		0.0	2.0	-3

In [19]:
import sqlite3
import os

In [23]:
os.chdir('large_dataset/')
os.getcwd()

'/home/jovyan/NOTEBOOK_PUBLIC/large_dataset'

In [25]:
conn = sqlite3.connect('sec.db')
query = "SELECT * FROM num WHERE adsh = '0000072971-20-000217';"

df_num = pd.read_sql_query(query,conn)
df_num.shape

In [38]:
query = "SELECT * FROM txt WHERE adsh = '0000072971-20-000217';"

df_txt = pd.read_sql_query(query,conn)
df_txt.shape

(392, 20)

In [43]:
df_txt[df_txt['value'].str.contains('Key Economic')]

Empty DataFrame
Columns: [adsh, tag, version, ddate, qtrs, iprx, lang, dcml, durp, datp, dimh, dimn, coreg, escaped, srclen, txtlen, footnote, footlen, context, value]
Index: []